body {
    text-align: center;
    font-family: 'Open sans', sans-serif;
    color:#828282
}

#main {
    width: 626px;
    height: 486px;
    margin: 64px auto;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: normal;
    color:#3F3D56;
}

h1 span {
    font-weight: bold;
    color: #EE24FF;
}

p {
    font-size: 15px;
    line-height: 22px;
}

p + p {
    font-size: 15px;
    line-height: 20px;
}

.line {
    margin: 0 auto 16px;
    width: 391px;
    height: 0px;
    border: 1px solid #ECEFF2;
}

a {
    text-decoration: none;
    color:#3F3D56;
    font-weight: bold;
}

#ofertas {
    margin: 0 42px;
}

#wave {
    position: absolute;
    width: 1024px;
    height: 104px;
    top: 686px;
    left: 500;
}